<!DOCTYPE html>
<html>
<head>
    <title>Expense Tracker</title>
</head>
<body>

<h1>Expense Tracker</h1>

<h2>Balance: ₱<span id="balance">0</span></h2>

<h3>Add Transaction</h3>
<input id="name" placeholder="Name">
<input id="amount" type="number" placeholder="Amount">

<select id="type">
    <option value="expense">Expense</option>
    <option value="income">Income</option>
</select>

<select id="category">
    <option>Food</option>
    <option>Transportation</option>
    <option>Bills</option>
    <option>Entertainment</option>
    <option>Others</option>
</select>

<button onclick="addTransaction()">Add</button>

<h3>Transactions</h3>
<ul id="list"></ul>

<h3>Insights</h3>
<div id="insights"></div>

<script src="/static/script.js"></script>

</body>
</html>